body {
    height: 100%;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

* {
    outline: none;
    box-sizing: border-box;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}
li {
    font-size: 15px;
}
.container-content-about-zanete-skarule {
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;
    width: 50%;
    margin-top: 50px;
}
.container-empty {
    flex-direction: row;
    height: 100vh;
    width: 50%;
}

a {
    font-size: 15px;
    color: rgba(77, 77, 77, 0.170) !important;
    text-decoration: none !important;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}
strong {
    font-size: 14px;
}

#red {
    font-size: 15px;
    color: rgba(255, 0, 0, 0.637);
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}
.menu:hover,
.arrow:hover,
a:hover {
    color: rgba(255, 0, 0, 0.637) !important;
}

.arrow {
    color: rgba(77, 77, 77, 0.103) !important;
    font-family: Arial, Icons;
    font-size: 20px;
    top: 0;
    position: fixed;
    font-weight: bolder;
    margin-top: 40px;
    z-index: 2;
    background: transparent;
    text-decoration: none;
    transform: scale(1.7, 1.1);
}
.img-fluid {
    padding-top: 30px;
}
 .menu {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    z-index: 2;
    font-family: Arial, Icons;
    background: transparent;
    text-decoration: none;
    color: rgba(77, 77, 77, 0.103) !important;
    font-size: 16px;
    font-weight: bolder;
} 
.biography-zanete-skarule {
    color: rgba(77, 77, 77, 0.170) ;
    text-align: left;
    padding-top: 30px;
    font-size: 15px;
}


@media screen and (max-width: 767px) {
    body {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }
    .container-content-about-zanete-skarule {
        width: 100%;
    }
    .container-empty {
        display: none;
    }
    .biography-zanete-skarule {
        padding: 25px 20px 0 20px;
    }
    .menu {
        margin-right: 20px ;
        font-size: 16px;
        padding: 5px;
    }
    #red, .instagram {
        margin-left: 20px;
    }
    .menu-container {
        flex-direction: column;
        padding: 20px;
    }
    .arrow {
        margin-left: 5px;
    }
    .img-fluid {
        padding-top: 25px;
    }
    .arrow {
        padding: 5px;
        font-size: 20px;
    }

}
